<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f9f9f9;
          color: #333;
          text-align: center;
        }
        table {
          border-collapse: collapse;
          width: 100%;
          margin: 20px 0;
          font-size: 16px;
          text-align: left;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
        th, td {
          border: 1px solid #e0e0e0;
          padding: 12px;
          transition: background-color 0.3s;
        }
        th {
          background-color: #f4f7fc;
          color: #4a4a4a;
          font-weight: bold;
        }
        td {
          background-color: #ffffff;
        }
        tr:hover td {
          background-color: #e9f7ff;
        }
        .red {
          color: red;
        }
    </style>
</head>
<body>
    <% if(error) { %>
        <h2><%= error %></h2>
    <% } else { %>
      <h3><%= username %></h3>
      <h4>Your <%= Attendance %></h4>
        <table>
            <thead>
              <tr>
                <% if (tableData.length > 0) { %>
                  <% tableData[0].forEach(header => { %>
                    <th><%= header %></th>
                  <% }); %>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% tableData.slice(1).reverse().forEach(row => { %> 
                <tr>
                  <% row.forEach(cell => { %>
                    <td class="<%= cell === 'A' ? 'red' : '' %>"><%= cell %></td>
                  <% }); %>
                </tr>
              <% }); %>
            </tbody>
          </table>
    <% } %>
</body>
</html>
